#main_window{
    
}

#menu{
    background-color:rgba(36, 35, 35, 1);
}

#central_widget{
    background-color:rgba(36, 35, 35, 1);
}

#nav_bar{
    background-color:rgba(54, 54, 54, 1);
    border-radius:2px;
    margin:0px;
}

#library{
    background-color:rgba(4, 4, 4, 1);
    border-radius:2px;
}